
*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Alfa Slab One', cursive;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
img{
	max-width: 100%;
	height: auto;
}
.header{
	width: 100%;
	padding: 50px 0px 80px;
	background: url("../images/group1.png") center top no-repeat;
	background-size: cover;
}
.header .header-icon{
	text-align: right;
	margin: 0px 20px 0px 0px;
	font-size: 16px;
	font-weight: 700;
	color: #3d2514;
}
.header .header-icon img{
	margin: 0px 10px 0px 0px;
}
.header .navbar-expand-lg .navbar-nav .nav-item .nav-link{
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #3d2514;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 3px;
	margin: 0px 0px 0px 25px;    
}
.banner{
	width: 100%;
	padding: 190px 0px;
}
.banner .inner-banner{
	width: 100%;
	padding: 100px 0px;
}
.banner .inner-banner h4{
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	color: #3d2514;
	font-family: 'Bebas Neue', cursive;
	line-height: 1.2em;
}
.banner .inner-banner h4 span{
	width: auto;
	padding: 5px;
	border: 2px dashed #3d2514;
	display: inline-block;
	margin: 0px 0px 10px;
}
.banner .inner-banner h1{
	font-size: 100px;
	font-weight: 700;
	color: #3d2514;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 2px 5px #fee7ba;
}
.banner .inner-banner h3{
	font-size: 60px;
	font-weight: 700;
	color: #3d2514;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 2px 5px #fee7ba;

}
.feature{
	width: 100%;
	padding: 80px 0px;
}
.feature .card{
    margin: 0px 0px 33px;
}
.feature .card .card-title{
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Bebas Neue', cursive;
	line-height: 1.2em;
	margin: 10px 0px 0px 10px;
}
.feature .card h3{
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Bebas Neue', cursive;
	line-height: 1.2em;
	margin: 0px 0px 0px 10px;
}
.choose{
	width: 100%;
	padding: 20px 0px;
}
.choose .title{
	width: 100%;
	padding: 0px 0px 80px;
	text-align: center;
}
.choose .title h4{
    font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #3d2514;
	font-family: 'Bebas Neue', cursive;
	line-height: 1.2em;
	letter-spacing: 2px;
}
.choose .title h4 span{
    padding: 10px;
    display: inline-block;
    background: #ffc045;
    margin: 0px 0px 15px;
}
.choose .title h1{
    font-size: 40pxpx;
	font-weight: 700;
	color: #3d2514;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1.2em;
}
.choose .title p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7em;
    color: #3d2514;
}
.inner-choose{
	width: 100%;
	padding: 5px;
	text-align: center;
}
.inner-choose img{
	height: 290px;
    margin: 0px 0px 15px;
}
.inner-choose h4{
    font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	color: #3d2514;
	font-family: 'Bebas Neue', cursive;
	line-height: 1.2em;
	letter-spacing: 2px;
}
.inner-choose p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7em;
    color: #3d2514;
    margin: 0px 0px 20px;
}
.inner-choose .btn-danger{
    padding: 8px 15px;
    border-radius: 2px;
    font-size: 14px;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background: #bf2222;
    border: 1px solid #bf2222;
}
.inner-choose .btn-danger:hover{
    color: #bf2222;
    background: #fff !important;
    border: 1px solid #bf2222;
}
.inner-choose .btn-danger:focus{
    color: #bf2222;
    background: #fff !important;
    border: 1px solid #bf2222;
}
.event{
	width: 100%;
	padding: 80px 0px;
}
.event .owl-carousel{
	padding: 20px 20px 20px 40px;
	box-shadow: 0px 4px 10px #ccc;
}
.event .owl-carousel .item h4{
    font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #3d2514;
	font-family: 'Bebas Neue', cursive;
	line-height: 1.2em;
	letter-spacing: 2px;
	margin: 14px 0px 0px;
}
.event .owl-carousel .item h3{
	font-size: 35px;
	font-weight: 700;
	text-transform: uppercase;
	color: #3d2514;
	font-family: 'Alfa Slab One', cursive;
	line-height: 1.2em;
	letter-spacing: 2px;
}
.event .owl-carousel .item p{
	font-size: 16px;
    font-weight: 400;
    line-height: 1.7em;
    color: #3d2514;
}
.event .owl-theme .owl-nav.disabled+.owl-dots{
	position: absolute;
	bottom: 8%;
	left: 3%;
}
.event .owl-theme .owl-dots .owl-dot span{
	width: 10px;
	height: 10px;
}
.event .owl-theme .owl-dots .owl-dot.active span{
	background: #ffc045;
}
.contact-us{
	width: 100%;
	padding: 120px 0px 400px;
	background: url("../images/contactbg.png") center top no-repeat;
	background-size: cover;
}
.contact-us .title{
	width: 100%;
	padding: 0px 0px 50px;
	text-align: center;
}
.contact-us .title h4{
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	color: #3d2514;
	font-family: 'Bebas Neue', cursive;
	line-height: 1.2em;
	letter-spacing: 2px;
	margin: 0px 0px 5px;
}
.contact-us .title h1{
	font-size: 40pxpx;
	font-weight: 700;
	color: #3d2514;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1.2em;
}
.main-form{
	width: 100%;
}
.main-form .form-control{
	font-family: 'Bebas Neue', cursive;
	width: 100%;
	padding: 10px;
	border: 1px solid #bebebe;
	border-radius: 2px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #3d3d3d;
}
.main-form .btn-danger{
	display: block;
    padding: 8px 15px;
    border-radius: 2px;
    font-size: 14px;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background: #bf2222;
    border: 1px solid #bf2222;
}
.main-form .btn-danger:hover{
    color: #bf2222;
    background: #fff !important;
    border: 1px solid #bf2222;
}
.main-form .btn-danger:focus{
    color: #bf2222;
    background: #fff !important;
    border: 1px solid #bf2222;
}
.main-form .form-control:focus{
	border-color: #bebebe;
    box-shadow: 0 0 0 0.10rem #bebebe;
}
.footer{
	width: 100%;
	padding: 40px 0px 40px;
}
.main-footer{
	width: 100%;
	padding: 100px 80px 10px;
	background: url("../images/fbg.png") center top no-repeat;
	background-size: cover;
}
.main-footer .content{
	width: 78%;
	color: #fff;
	padding: 25px 0px 0px;
	font-size: 16px;
	line-height: 1.7em;
}
.main-footer .info{
	font-family: 'Bebas Neue', cursive;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	margin: 40px 0px 10px;
}
.main-footer .info img{
	margin-right: 10px;
}
.main-footer .mail{
	font-family: 'Bebas Neue', cursive;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}
.main-footer .mail img{
	margin-right: 10px;
}
.copyright{
	width: 100%;
	padding: 60px 0px 0px;
}
.copyright p{
	font-family: 'Bebas Neue', cursive;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}
.s-icon{
    width: 100%; 
}
.s-icon i{
	display: inline-block;
	color: #black;
	width: 25px;
	height: 25px;
	line-height: 25px;
	background: #fff;
	border-radius: 100%;
	margin: 0px 2px;
	padding: 0px 0px 0px 5px;
}
